

<%- include('_header.ejs') %>
<div class="container px-4 py-5 mb-5">
    <div class="row row--grid"> 
        <div class="col-12">  
            <h2 class="pb-2 fs-5 headTitle mb-3">Contact Us  </h2>

            <div class="card text-light" >
              <div class="card-body">
                <h5 class="card-title"> Get In Touch</h5>
                <hr/>
                <p class="card-text">info@colexion.io </p>
                
              </div>
            </div>

            <!-- content tabs --> 
            Get In Touch : <br>
            info@colexion.io 
            <!-- end content tabs -->
        </div>
    </div>	
</div>   
<%- include('_footer.ejs') %>
</body > 
</html >

